@model IEnumerable<Lodos.Models.Firma>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FId })
        </td>
    </tr>
}

</table>
